<a href="https://colab.research.google.com/github/v5v5/trading/blob/main/trade_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

URL to download quotes EURUSD

https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=1262304000&period2=1619654400&interval=1d&events=history&includeAdjustedClose=true

In [184]:
import pandas as pd
from urllib.request import Request, urlopen
from io import StringIO
import datetime
import time

In [185]:
dt_from = datetime.date(2000,1,1)
ut_from = str(int(time.mktime(dt_from.timetuple())))
ut_from

'946684800'

In [186]:
dt_to = datetime.date.today()
ut_to = str(int(time.mktime(dt_to.timetuple())))
ut_to

'1619654400'

In [187]:
# url='https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=1262304000&period2=1619654400&interval=1d&events=history&includeAdjustedClose=true'
url='https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=' + ut_from + '&period2=' + ut_to + '&interval=1d&events=history&includeAdjustedClose=true'

In [188]:
headers={'User-Agent': 'Mozilla/5.0'}

In [189]:
req = Request(url, headers=headers)

In [190]:
page = urlopen(req)
# page = urlopen(url)

In [191]:
page = urlopen(url)

In [192]:
content = page.read()

In [193]:
text = content.decode('UTF-8')

In [194]:
print(text[:300])

Date,Open,High,Low,Close,Adj Close,Volume
2003-12-01,1.203398,1.204007,1.194401,1.196501,1.196501,0
2003-12-02,1.196101,1.210903,1.194600,1.208897,1.208897,0
2003-12-03,1.209000,1.213003,1.207700,1.212298,1.212298,0
2003-12-04,1.212004,1.214403,1.204398,1.208094,1.208094,0
2003-12-05,1.207802,1.2190

In [195]:
data = StringIO(text)

In [196]:
df1 = pd.read_csv(data, sep=',', header='infer')

In [197]:
df1.tail(7)

            Date      Open      High       Low     Close  Adj Close  Volume
4537  2021-04-21  1.203254  1.204529  1.200000  1.203239   1.203239     0.0
4538  2021-04-22  1.203818  1.207001  1.200394  1.203775   1.203775     0.0
4539  2021-04-23  1.201793  1.207799  1.201389  1.201475   1.201475     0.0
4540  2021-04-26  1.208956  1.211827  1.206374  1.208985   1.208985     0.0
4541  2021-04-27  1.207921  1.209190  1.205793  1.208167   1.208167     0.0
4542  2021-04-28  1.208854  1.210214  1.205764  1.209031   1.209031     0.0
4543  2021-04-29  1.212856  1.215510  1.210800  1.212415   1.212415     0.0

In [198]:
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')

In [199]:
df1['DayOfWeek'] = df1['Date'].dt.dayofweek

In [200]:
df1.tail(7)

           Date      Open      High  ...  Adj Close  Volume  DayOfWeek
4537 2021-04-21  1.203254  1.204529  ...   1.203239     0.0          2
4538 2021-04-22  1.203818  1.207001  ...   1.203775     0.0          3
4539 2021-04-23  1.201793  1.207799  ...   1.201475     0.0          4
4540 2021-04-26  1.208956  1.211827  ...   1.208985     0.0          0
4541 2021-04-27  1.207921  1.209190  ...   1.208167     0.0          1
4542 2021-04-28  1.208854  1.210214  ...   1.209031     0.0          2
4543 2021-04-29  1.212856  1.215510  ...   1.212415     0.0          3

[7 rows x 8 columns]

In [201]:
df2 = df1.drop(['High','Low', 'Adj Close', 'Volume'], axis=1)

In [202]:
df2.tail(7)

           Date      Open     Close  DayOfWeek
4537 2021-04-21  1.203254  1.203239          2
4538 2021-04-22  1.203818  1.203775          3
4539 2021-04-23  1.201793  1.201475          4
4540 2021-04-26  1.208956  1.208985          0
4541 2021-04-27  1.207921  1.208167          1
4542 2021-04-28  1.208854  1.209031          2
4543 2021-04-29  1.212856  1.212415          3

In [203]:
df2['Close-1'] = df2['Close'].shift(1)

In [204]:
df2.tail(7)

           Date      Open     Close  DayOfWeek   Close-1
4537 2021-04-21  1.203254  1.203239          2  1.204529
4538 2021-04-22  1.203818  1.203775          3  1.203239
4539 2021-04-23  1.201793  1.201475          4  1.203775
4540 2021-04-26  1.208956  1.208985          0  1.201475
4541 2021-04-27  1.207921  1.208167          1  1.208985
4542 2021-04-28  1.208854  1.209031          2  1.208167
4543 2021-04-29  1.212856  1.212415          3  1.209031

In [205]:
df2['%'] = (df2['Close'] - df2['Close-1']) / df2['Close-1'] * 100

In [206]:
df2.tail(7)

           Date      Open     Close  DayOfWeek   Close-1         %
4537 2021-04-21  1.203254  1.203239          2  1.204529 -0.107096
4538 2021-04-22  1.203818  1.203775          3  1.203239  0.044546
4539 2021-04-23  1.201793  1.201475          4  1.203775 -0.191066
4540 2021-04-26  1.208956  1.208985          0  1.201475  0.625065
4541 2021-04-27  1.207921  1.208167          1  1.208985 -0.067660
4542 2021-04-28  1.208854  1.209031          2  1.208167  0.071513
4543 2021-04-29  1.212856  1.212415          3  1.209031  0.279894