<a href="https://colab.research.google.com/github/v5v5/trading/blob/main/trade_strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

URL to download quotes EURUSD

https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=1262304000&period2=1619654400&interval=1d&events=history&includeAdjustedClose=true

In [161]:
import pandas as pd
from urllib.request import Request, urlopen
from io import StringIO
import datetime
import time

In [162]:
dt_from = datetime.date(2010,1,1)
ut_from = str(int(time.mktime(dt_from.timetuple())))
ut_from

'1262304000'

In [163]:
dt_to = datetime.date.today()
ut_to = str(int(time.mktime(dt_to.timetuple())))
ut_to

'1619654400'

In [164]:
# url='https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=1262304000&period2=1619654400&interval=1d&events=history&includeAdjustedClose=true'
url='https://query1.finance.yahoo.com/v7/finance/download/EURUSD=X?period1=' + ut_from + '&period2=' + ut_to + '&interval=1d&events=history&includeAdjustedClose=true'

In [165]:
headers={'User-Agent': 'Mozilla/5.0'}

In [166]:
req = Request(url, headers=headers)

In [167]:
page = urlopen(req)
# page = urlopen(url)

In [168]:
page = urlopen(url)

In [169]:
content = page.read()

In [170]:
text = content.decode('UTF-8')

In [171]:
print(text[:300])

Date,Open,High,Low,Close,Adj Close,Volume
2010-01-01,1.432706,1.440196,1.432706,1.438994,1.438994,0
2010-01-04,1.431004,1.445191,1.426208,1.442398,1.442398,0
2010-01-05,1.442710,1.448310,1.435194,1.436596,1.436596,0
2010-01-06,1.436596,1.443460,1.429123,1.440403,1.440403,0
2010-01-07,1.440300,1.4444

In [172]:
data = StringIO(text)

In [173]:
df1 = pd.read_csv(data, sep=',', header='infer')

In [174]:
df1.tail(7)

            Date      Open      High       Low     Close  Adj Close  Volume
2948  2021-04-21  1.203254  1.204529  1.200000  1.203239   1.203239     0.0
2949  2021-04-22  1.203818  1.207001  1.200394  1.203775   1.203775     0.0
2950  2021-04-23  1.201793  1.207799  1.201389  1.201475   1.201475     0.0
2951  2021-04-26  1.208956  1.211827  1.206374  1.208985   1.208985     0.0
2952  2021-04-27  1.207921  1.209190  1.205793  1.208167   1.208167     0.0
2953  2021-04-28  1.208854  1.210214  1.205764  1.209031   1.209031     0.0
2954  2021-04-29  1.212856  1.215510  1.210800  1.212415   1.212415     0.0

In [175]:
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')

In [176]:
df1['DayOfWeek'] = df1['Date'].dt.dayofweek

In [177]:
df1.tail(7)

           Date      Open      High  ...  Adj Close  Volume  DayOfWeek
2948 2021-04-21  1.203254  1.204529  ...   1.203239     0.0          2
2949 2021-04-22  1.203818  1.207001  ...   1.203775     0.0          3
2950 2021-04-23  1.201793  1.207799  ...   1.201475     0.0          4
2951 2021-04-26  1.208956  1.211827  ...   1.208985     0.0          0
2952 2021-04-27  1.207921  1.209190  ...   1.208167     0.0          1
2953 2021-04-28  1.208854  1.210214  ...   1.209031     0.0          2
2954 2021-04-29  1.212856  1.215510  ...   1.212415     0.0          3

[7 rows x 8 columns]

In [178]:
df2 = df1.drop(['High','Low', 'Adj Close', 'Volume'], axis=1)

In [179]:
df2.tail(7)

           Date      Open     Close  DayOfWeek
2948 2021-04-21  1.203254  1.203239          2
2949 2021-04-22  1.203818  1.203775          3
2950 2021-04-23  1.201793  1.201475          4
2951 2021-04-26  1.208956  1.208985          0
2952 2021-04-27  1.207921  1.208167          1
2953 2021-04-28  1.208854  1.209031          2
2954 2021-04-29  1.212856  1.212415          3

In [180]:
df2['Close-1'] = df2['Close'].shift(1)

In [181]:
df2.tail(7)

           Date      Open     Close  DayOfWeek   Close-1
2948 2021-04-21  1.203254  1.203239          2  1.204529
2949 2021-04-22  1.203818  1.203775          3  1.203239
2950 2021-04-23  1.201793  1.201475          4  1.203775
2951 2021-04-26  1.208956  1.208985          0  1.201475
2952 2021-04-27  1.207921  1.208167          1  1.208985
2953 2021-04-28  1.208854  1.209031          2  1.208167
2954 2021-04-29  1.212856  1.212415          3  1.209031

In [182]:
df2['%'] = (df2['Close'] - df2['Close-1']) / df2['Close-1'] * 100

In [183]:
df2.tail(7)

           Date      Open     Close  DayOfWeek   Close-1         %
2948 2021-04-21  1.203254  1.203239          2  1.204529 -0.107096
2949 2021-04-22  1.203818  1.203775          3  1.203239  0.044546
2950 2021-04-23  1.201793  1.201475          4  1.203775 -0.191066
2951 2021-04-26  1.208956  1.208985          0  1.201475  0.625065
2952 2021-04-27  1.207921  1.208167          1  1.208985 -0.067660
2953 2021-04-28  1.208854  1.209031          2  1.208167  0.071513
2954 2021-04-29  1.212856  1.212415          3  1.209031  0.279894